header{
    background-image:url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 20px;
}

main{
    font-family: Arial, Helvetica, sans-serif;
}

main img{
    width: 60%;
    border-image: 10px;
    margin: 5%;
    margin-left: 18%;
    margin-top: 20%;
    position: relative;
    border: 2px solid black;
}
.right{
    width: 70%;
    height: max-content;
    background-color: #e6e6e6;
    display: inline-block;
    padding: 2%;
    padding-left: 5%;
    float: left;
}
.left{
    width: 20%;
    height: 800px;
    display: inline-block;
    background-color: darkolivegreen;
    float: left;
}


body{
	background-color: #e6e6e6;
	font-size: 125%;
}
nav a{
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: white;
    text-align: center;
    color: black;
    margin: 20px 40px;

    border-radius: 5px;
}
nav a:link {
    background-color: #ffffff;
    opacity: 0.6;
  }
nav a:visited {
    background-color: #ffffff;
    opacity: 1.0;
  }
 
nav a:hover {
    background-color: white;
    opacity: 1.0;
  }

nav a:active {
    background-color: black;
    opacity: 0.6;
}


h1{
    font-size: 150%;
}
h2{
	color: #1d1681;
	text-transform: uppercase;
}

table{
    width: max-content;
}
table tr th{
    background-color: green;
    color: white;
    border-spacing: 10px;
    border: 1px solid lawngreen;
    border-bottom: 5px solid lawngreen;
    -webkit-border-radius: 2px;
    border-radius: 4px;
    padding: 10px 10px;
}
table tr td{
    background-color: lightgreen;
    color: black;
    text-align: center;
    border-spacing: 10px;
	
    -webkit-border-radius: 2px;
    border-radius: 4px;
    padding: 10px 10px;
}
table tr th:first-child{
    text-align: left;
}
table tr td:first-child{
    text-align: left;
}
table tr{
    opacity: 0.7;
}
table tr:hover{
    opacity: 1.0;
}